body{
    background-color: rgb(37, 212, 136);
    color: black;
    margin: 0;
}
header{
    text-align: center;
    background-color: rgb(251, 47, 193);
    color: black;
}
#contact{
    background-color: rgb(114, 234, 216);
     padding: 40px 20px;
    margin: 40px auto;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}
#contact h2 {
     margin-bottom: 40px;
     color: rgb(0, 0, 0);
}
address {
    color: #333;
}
footer
{
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom:0;
    position:fixed;
    color:black;

}


